body {
  background-color: pink;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.reenie-beanie {
  font-family: "Reenie Beanie", serif;
  font-weight: 400;
  font-style: normal;
}

